*
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container
{
    padding: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: black;
}

.container div
{
    width: 200px;
    height: 150px;
    margin: 20px;
    background-color: aqua;
    border: 1px solid black;
}

nav{
    display: flex;
    justify-content: space-between;
    height: 100px;
    background-color: rgb(39, 36, 36);
    color: white;
}
.menu
{
    display: flex;
}
.menu div
{
    width: 60px;
    flex-grow: 1;
    border: 1px solid white;
    margin: 10px;

}

.lato-dx
{
    width: 100px;
    border: 1px solid white;
}