*
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
header .menu
{

}
.menu> span
{
    color: white;
    background-color: rgba(98, 96, 96 , 0.5)
}
.container
{
    padding: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: black;
}

.container div
{
    width: 200px;
    height: 120px;
    margin: 20px 5px 20px 5px;
    background-image: url(../img/zoom.png);
    border: 1px solid black;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: flex-end;
}

.container div span
{
    background-color: rgba(22, 21, 21, 0.3);
    color: lightgray;
    padding: 5px;
}

nav{
    display: flex;
    justify-content: space-between;
    height: 120px;
    background-color: rgb(39, 36, 36);
    color: white;
}
.menu
{
    display: flex;
}

.menu img{
    filter: invert(1);
}
.menu div
{
    flex-grow: 1;
    margin: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.lato-dx
{
    width: 100px;
    border: 1px solid white;
}

.menu 
{
     
}